#room {
    background: #4d6aa7;
    position: relative;
    overflow: hidden;
}

@keyframes ellipsis {
    from {
        width: 0em;
    }
    to {
        width: 1.5em;
    }
}

.loading:after {
    overflow: hidden;
    text-align: left;
    animation: ellipsis steps(4, end) 1000ms infinite;
    content: "\2026";
    width: 0em;
    position: absolute;
}

.disconnect {
    color: red;
    font-weight: bold;
}

#room-name {
    position: relative;
    font-size: 6em;
    text-shadow: red -10px 0 10px, yellow 0 10px 10px, blue 10px 0 10px, purple 0 -10px 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    letter-spacing: .33em;
}

.player {
    font-size: 6em;
}

#P1 {
    text-shadow: 5px 5px 5px red;
}

#P2 {
    text-shadow: 5px 5px 5px blue;
}

#entry {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

.textfill {
    position: relative;
    height: 50%;
    width: 100%;
    overflow: hidden;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#eng-sent {
    position: absolute;
    text-align: center;
    width: 100%;
}

#chin-sent {
    position: absolute;
    text-align: center;
    width: 100%;
}

.avatar {
    position: absolute;
    height: 200%;
    z-index: 1;
}

#avatar-P1 {
    left: 0;
}

#avatar-P2 {
    right: 0;
}

.circle_wrapper {
    position: absolute;
    height: 150vw;
    width: 150vw;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#circle.active {
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fea733;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: growUp 2s 5s;
    -moz-animation: growUp 2s 5;
    -ms-animation: growUp 2s 5;
    -o-animation: growUp 2s 5;
    animation: growUp 2s 5;
    animation-iteration-count: 1;
}

@-webkit-keyframes growUp {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes growUp {
    0% {
        -moz-transform: scale(0);
    }
    100% {
        -moz-transform: scale(1);
    }
}

@-o-keyframes growUp {
    0% {
        -o-transform: scale(0);
    }
    100% {
        -o-transform: scale(1);
    }
}

@-ms-keyframes growUp {
    0% {
        -ms-transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
    }
}

@keyframes growUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes victory-animation {
    from { height: 0%; }
    to { height: 100%; }
}

#victory-container {
    position: absolute;
    z-index: 3;
    width: 100%;
    font-size: 10em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 5px 5px 5px red;

    overflow: hidden;
    animation: victory-animation steps(3, end) 500ms;
}

.victory-item {
    position: relative;
}


/*--------------------------WAVE CSS-----------------------------------------------------------------------*/

.waves {
    position: relative;
    z-index: 0;
}

#text-input {
    font-size: 2em;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#submit-guess {
    background: buttonface;
    font-size: 2em;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

input::placeholder {
    font-style: italic;
}

.no-padding {
    padding: 0;
}

.test {
    width: 25%
}